// Body
$body-bg: #f8fafc;

// Typography
$fa-font-path: "../fonts/webfonts" !default;
$font-family-sans-serif: "Nunito",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.c-blue {
    color: $blue;
}

.c-indigo {
    color: $indigo;
}

.c-purple {
    color: $purple;
}

.c-pink {
    color: $pink;
}

.c-red {
    color: $red;
}

.c-orange {
    color: $orange;
}

.c-yellow {
    color: $yellow;
}

.c-green {
    color: $green;
}

.c-teal {
    color: $teal;
}

.c-cyan {
    color: $cyan;
}

.c-facebook {
    color: #4267b2;
}
.c-github {
  color: #24292e;
}
