.c-blue {
  color: #3490dc;
}

.c-indigo {
  color: #6574cd;
}

.c-purple {
  color: #9561e2;
}

.c-pink {
  color: #f66D9b;
}

.c-red {
  color: #e3342f;
}

.c-orange {
  color: #f6993f;
}

.c-yellow {
  color: #ffed4a;
}

.c-green {
  color: #38c172;
}

.c-teal {
  color: #4dc0b5;
}

.c-cyan {
  color: #6cb2eb;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-exact-active {
  border-left: 2px solid red;
  color: #fff !important;
  border-radius: 0px !important;
  background-color: rgba(0, 0, 0, 0.2);
}

